# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
api/node_modules
livebid/node_modules
livebid/.env
api/.env

# testing
/coverage

# production
livebid/build

